@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin listReset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin textGrey {
  font-size: $g-font-base-size;
  color: $mainSecondTextColor;
}

@mixin textTitle {
  font-size: $g-font-second-size;
  color: #000000;
}

@mixin scrollBar {
  ::-webkit-scrollbar-corner {
    background-color: $g-color-grey;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $mainDisabled;
    border-radius: 15px;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: $mainDisabled;
    border-radius: 5px;
  }
  &::-webkit-scrollbar {
    width: 8px;
    padding-right: 4px;
    background-color: $g-color-grey;
  }
}
