//media breakpoints
//
$break-lg: 1500px;
$break-xl: 1351px;
$break-md: 920px;
$break-sm: 568px;

//== Colors
//
$g-color-white: #fff;
$mainBackgroundColor: #faf0d7;
$mainColor: #fe4e4e;
$g-color-blue: #435fdd;
$mainTextColor: #484848;

$g-font-second-size: 18px;
$g-big-title-size: 20px;
