//media breakpoints
//
$break-lg: 1500px;
$break-xl: 1351px;
$break-md: 920px;
$break-sm: 568px;

//== Size
//
$row-indent: 15px;
$base-grid-size: 30px;
//== Colors
//
$g-color-white: #fff;
$mainBackgroundColor: #faf0d7;
$mainColor: #fe4e4e;
$g-color-blue: #435fdd;
$mainTextColor: #484848;

//== Border
//
$mainBorder: 1px solid #dbdbdb;
//== Fonts
//

$g-font-small-size: 12px;
$g-font-base-size: 14px;
$g-font-second-size: 18px;
$g-big-title-size: 20px;
$g-second-title-size: 24px;
